@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.home-page {
  background: linear-gradient(to bottom, #FFFFFF 40%, #C2D0FF 78%, #044582 100%);
  text-align: center;
  width: 440px;
  height: 956px;
  border: solid 1px black;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 145px;
  margin-bottom: -40px;
  margin-top: 20px;
}

.account-circle-img {
  width: 55px;
  height: 55px;
  margin: 63px 0px 0px 60px;
}

.welcome-txt {
  margin-bottom: 48px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  height: 30px;
}

.welcome-txt span{
  margin-bottom: 48px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  height: 30px;
}

.readex-pro-txt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vehicle.Tricycle {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  width: 336px;
  height: 75px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 19px;
}

.tricycle-img {
  width: 124px;
  height: 75px;
  margin: 0px 4px 0px 4px; 
}

.vehicle.Jeepney {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  width: 336px;
  height: 75px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 19px;
}

.jeep-img {
  width: 82px;
  height: 75px;
  margin: 0px 27.5px 0px 21px;
}

.vehicle.Taxi {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  width: 336px;
  height: 75px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 19px;
}

.taxi-img {
  width: 60px;
  height: 60px;
  margin: 0px 52.5px 0px 35px;
}

.vehicle.Bus {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  width: 336px;
  height: 75px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 50px;
  background-color: transparent;
}

.bus-img {
  width: 86px;
  height: 75px;
  margin: 0px 41px 0px 24px;
  background-color: transparent;
}

.select-destination {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  width: 336px;
  height: 60px;
  text-align: center;
}

.location-img {
  margin-left: 15px;
}

.destination-txt {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}

.calculate-bttn {
  width: 179px;
  height: 54px;
  padding: 12px;
  background-color: #044582;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.vehicle-txt {
  font-size: 20px;
  font-weight: 400;
}

.calculate-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 440px;
    height: 956px;
    background: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0 auto;
    right: 0;
    bottom: 0; 
}

.calculate-msg {
    background: linear-gradient(to bottom, #D9D9D9 0%, #C2D0FF 50%, #044582 100%);
    border-radius: 18px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.18);
    width: 398px;
    height: 254px;;
    padding: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 18px 0 18px;
    font-weight: 500;
    font-size: 24px;
    margin-top: -10px;
}
.close-bttn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-left: 360px;
}
.fare-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    width: 345px;
    height: 91px;
    border: solid 1px #222;
    border-radius: 20px;
    margin-top: 30px;
}

.fare-details hr {
  height: 60px;
  border-left: solid 1px black;
  margin-left: 10px;
}

.tri2-img {
  width: 100px;
  height: 60px;
}

.fee-txt {
  margin-right: 20px;
}

.distance-txt {
  margin-right: 20px;
}


